*.vcd
*.out
*.swo
*.swp
*.vcd
*.ignore
*.pyc
*.dblite
*.o
*.a
*.d
*.elf
*.bin
*.hex
*.srec
*.list
tags
fpga/simulation
fpga/simulation/*
build
docs
doc/build/*
examples/build
utils/build
.DS_Store

